<!DOCTYPE html>
<html>
    <head>
        <title>UI_KIT_exercice</title>
        <meta charset="UTF-8">
        <meta name="description" content="UI_KIT_exercice">
        <meta name="author" content="Samuel">
        <meta name="keywords" content="HTML CSS">
                <!--Links to Css/Bootstrap-->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <h1>UI KIT Exercice</h1>
                <button><a href="index.html">Accueil</a></button>
                <button><a href="navbar.html">Navbar</a></button>
                <button><a href="Banner.html">Banner</a></button>
                <button><a href="authentification_form.html">Authentification form</a></button>
                <button><a href="footer.html">Footer</a></button>
                <button><a href="cards.html">Cards</a></button>
                <button><a href="comment.html">Comment</a></button>
                <button><a href="show-example.html">Show example</a></button>
            <nav>
        </header>

        <main>
            <div>
                <p>Voici mes Event cards :</p>
            </div>

            <div class="container_event_cards">
                <div class="row row-cols-1 row-cols-md-3 g-4" id="event_cards">
                    <div class="col">
                      <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Event n°<%= @event.id %></h5>
                          <p class="card-text">Event description</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Event n°<%= @event.id %></h5>
                          <p class="card-text">Event description</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Event n°<%= @event.id %></h5>
                          <p class="card-text">Event description</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div>
                <p>Voici mes User cards :</p>
            </div>
     
        </main>

        <footer>
            <div>
                <div class="begin_end_footer">Me contacter</div>
                <ul>
                    <li><img src="css/img_2.png" alt="whatsappLogo" />Mobile:<span class="join_me">+33672380900</span></li>
                    <li><img src="css/img_3.png" alt="mailLogo" />em@il:<span class="join_me">manukhalifa@hotmail.com</span></li>
                    <li><img src="css/img_4.png" alt="FacebookLogo" />Facebook</li>
                    <li><img src="css/img_5.png" alt="InstagramLogo" />Instgram</li>
                </ul>
            </div>
            <div class="begin_end_footer">Merci d'avoir visité mon site pourri !</div>
        </footer>
                <!--Link Javascript-->
        <script></script>
    </body>
</html>